beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
decorator==5.1.1
future==0.18.3
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
googlesearch-python==1.2.3
idna==3.4
PyAudio==0.2.13
pypiwin32==223
python-dotenv==1.0.0
pyttsx3==2.90
pywin32==306
ratelim==0.1.6
requests==2.31.0
six==1.16.0
soupsieve==2.5
SpeechRecognition==3.10.0
urllib3==2.0.4
Wikipedia-API==0.6.0
